html {
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
}

body {
    
    margin: 0;
    height: 100vh;
    width: 100vw;
    scroll-behavior: inherit;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
ol,
ul,
li,
p {
    font-family: 'Roboto', sans-serif;;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
}